# Ignore node_modules
node_modules/

# Ignore VSCode settings
.vscode/

# Ignore any other IDE/editor-specific files or folders if present
*.log

# Ignore OS-specific files like .DS_Store (for macOS) or thumbs.db (for Windows)
.DS_Store
Thumbs.db
